/**
 * Configuration
 *
 * @author duytd
 */

object Constants {
  // a tuple consists of root url and rss source link
  val TARGET_URLS = Array(("targetwebsite.com","http://targetwebsite.com/rss"))
}