/**
 * Configuration
 * Pre-defined constants
 * @author duytd
 */

object Constants {
  // A tuple consists of root url, rss source link and language
  val TARGET_URLS = Array(("www.yourtargetwebsite.com","http://www.yourtargetwebsite.com/rss","en"))
  // Crawler name
  val BOT_NAME = "PortiaBot <portia.com>"
}